@import 'tailwindcss';

@layer theme {
  :root {
    /* Primary colors */
    --color-bkg: #fff;
    --color-bkg-alt: #090d1f;
    --color-bkg-soft: #f8f8f8;
    --color-bkg-mute: #f2f2f2;

    --color-black: #1a1a1a;
    --color-black-soft: #222222;
    --color-black-mute: #282828;

    /* Text colors */
    --color-text-primary: #1a1a1a;
    --color-text-sub: #667085;
    --color-text-title: #6941c6;

    /* Dividers/Borders */
    --color-divider-light: rgba(60, 60, 60, 0.12);
    --color-divider-hover: rgba(60, 60, 60, 0.29);
    --color-border: rgba(60, 60, 60, 0.12);

    /* Palette */
    --color-palette-dark: #3e4348;
    --color-palette-dark-dynamic: #e6e3e3;
    --color-palette-silver: #cacccd;

    /* Spacing */
    --space-xxs: 2px;
    --space-xs: 4px;
    --space-s: 8px;
    --space-n: 12px;
    --space-m: 24px;
    --space-l: 48px;
    --section-gap: 160px;

    /* Typography */
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-regular: 15px;
    --font-size-base: 16px;

    /* Transitions */
    /* --transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); */
    --transition: background-color 0s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

/* Dark mode */
.dark {
  --color-bkg: #090d1f;
  --color-bkg-alt: #fff;
  --color-bkg-soft: #222222;
  --color-bkg-mute: #282828;

  --color-text-primary: #fff;
  --color-text-sub: #c0c5d0;
  --color-text-title: #9365ff;

  --color-divider-light: rgba(84, 84, 84, 0.48);
  --color-divider-hover: rgba(84, 84, 84, 0.65);
  --color-border: rgba(84, 84, 84, 0.48);

  --color-black: #090d1f;
  --color-palette-dark-dynamic: #3e4348;
}

/* Global base styles */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }

  body {
    min-height: 100vh;
    color: var(--color-text-primary);
    background: var(--color-bkg);
    transition: var(--transition);

    /* transition:
      color 0.5s,
      background-color 0.5s; */
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: var(--font-size-regular);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scrollbar-gutter: stable;
}
